@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
}
@model Martex.DMS.Entities.MultipleSelectClass
<h1>
    Test Poc</h1>
<form method="post" action="" id="form-Test" title="Content">
<div>
    @Html.ListBoxFor(a => a.SelectedItemIds, (IEnumerable<SelectListItem>)(new[] { 
                                new SelectListItem() { Value = "1", Text = "1" }, 
                                new SelectListItem() { Value = "2", Text = "2" }, 
                                new SelectListItem() { Value = "3", Text = "3" }, 
                                new SelectListItem() { Value = "4", Text = "4" },
                                new SelectListItem() { Value = "5", Text = "5" }, 
                                new SelectListItem() { Value = "6", Text = "6" }, 
                                new SelectListItem() { Value = "7", Text = "7" }, 
                                new SelectListItem() { Value = "8", Text = "8" } 
                             }), new { @class = "select multiple white-gradient easy-multiple-selection check-list" })
</div>
<script language="javascript" type="text/javascript">
    $(function () {
        var as = $('#SelectedItemIds');
        alert(as.val().toString());
    });


</script>
</form>
