@using ClientPortal.Models
@using ClientPortal.Areas.Application.Models
<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
    <li id="Admin" class="current"><a href="@Url.Action("Index", "Home")" class="shortcut-settings" title="Home">
        Admin</a></li>
</ul>

