<h4 class="underline">
    Dashboard</h4>
<ul class="bullet-list">
    <li>This is the first page you see each time you login to the Portal</li>
    <li>The purpose of this page it to give you some key information at a glance</li>
    <li>Here you will see some important stats about your account and activity</li>
    <li>We will post Messages to keep you informed </li>
</ul>
