<h4 class="underline">
    My Profile</h4>
<ul class="bullet-list">
    <li>This is your personal login information</li>
    <li>Here is where you can update your email address</li>
    <li>Here is where you can change your password</li>
</ul>
