<h5>How To Register and Log In to the Pinnacle Partner Portal</h5>
<p>The Portal works best using Mozilla Firefox, Chrome or Internet Explorer 9 or higher.  When you initially access the web page, if your browser is outdated, you will be prompted to update the browser before using the site.</p>
<ul>
    <li>If this is the first time you are logging on to this updated web portal, you will be required to “Register” your company prior to logging on. </li>
    <li>Click the grey Register button located on the top right corner of the screen.</li>
    <li>Enter your Service Provider/Vendor ID# and your Phone Number.</li>
</ul>
<p>
    If you are unable to Register, the cause may be that we do not have your Phone Number on file or we have a different number than you are inputting.  If you have attempted to register using the correct information and you get an error, please call 1-800-285-4977 option 3 for assistance setting up your account.
</p>
<ul>
    <li>
        If you have already registered, click the Log In button located on the upper right corner of the screen, then enter your Service Provider/Vendor ID # and password, then click Log In
    </li>
</ul>
<p>Once logged in, you have multiple options. You will have the ability to:</p>
<ul>
    <li>Submit invoices quickly and easily for expedited payment</li>
    <li>Update zip codes so we only contact you for breakdowns in the areas you service</li>
    <li>Upload a current insurance certificate or W9</li>
    <li>Sign up for Direct Deposit Payments so you do not have to wait for the mail</li>
    <li>Review submitted invoices and their status</li>
</ul>