<h4 class="underline">
    Service Ratings</h4>
<ul class="bullet-list">
    <li>Tracking performance is very important</li>
    <li>Stats are kept based on call response, customer feedback, etc.</li>
    <li>Here you can see your current ratings by service line</li>
</ul>
