<h4 class="underline">
    Submit Invoice</h4>
<ul class="bullet-list">
    <li>Here you can submit your invoices online</li>
    <li>Fast and convenient way to process your paperwork and get paid faster</li>
    <li>You have to know the PO number and the amount</li>
</ul>
