@{
    Layout = "~/Views/Shared/_ContentMaster-Vendor.cshtml";
}
<div class="columns with-padding">
<div class="twelve-columns">
            <hgroup id="login-title" class="large-margin-bottom">
			    <h1 class="appTitle">Timed Out Warning</h1>
		    </hgroup>
            <div>
                
                <p>
                   For your safety and Protection your Online Coach-Net Vendor Portal session has timed out. Please
                    <a href="/Account/Login">Login</a> again.</p>
            </div>
            </div>
        </div>

