################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DealerPortal/config/applicationhost.config
/.vs/DealerPortal/v16/.suo
/.vs/DealerPortal/v16/Server/sqlite3/db.lock
/.vs/DealerPortal/v16/Server/sqlite3/storage.ide
/.vs/DealerPortal/v16/Server/sqlite3/storage.ide-shm
/.vs/DealerPortal/v16/Server/sqlite3/storage.ide-wal
/.vs/DealerPortal_4.5/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Bin/DynamicsLib.dll
/Bin/DynamicsLib.pdb
/Bin/Microsoft.Crm.Sdk.Proxy.dll
/Bin/Microsoft.IdentityModel.Clients.ActiveDirectory.dll.refresh
/Bin/Microsoft.IdentityModel.Clients.ActiveDirectory.pdb
/Bin/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/Bin/Microsoft.Rest.ClientRuntime.dll
/Bin/Microsoft.Xrm.Sdk.Deployment.dll
/Bin/Microsoft.Xrm.Sdk.dll
/Bin/Microsoft.Xrm.Sdk.Workflow.dll
/Bin/Microsoft.Xrm.Tooling.Connector.dll
/Bin/Mindscape.Raygun4Net.dll.refresh
/Bin/Mindscape.Raygun4Net.pdb
/Bin/Mindscape.Raygun4Net4.dll.refresh
/Bin/Mindscape.Raygun4Net4.pdb
/Bin/Newtonsoft.Json.dll.refresh
/Bin/Newtonsoft.Json.xml
/Bin/Serilog.dll
/Bin/Serilog.Sinks.Email.dll
/Bin/Serilog.Sinks.EventLog.dll
/Bin/Serilog.Sinks.File.dll
/Bin/Serilog.Sinks.PeriodicBatching.dll