<div class="columns">
    <div class="eight-columns">
        <h2 class="underline thin">
            Contact Us
        </h2>
    </div>
    <div class="new-row eight-columns">
        <p>
            An uknown error had occured while processing your request. 
        </p>
    </div>
</div>
