<div class="columns">
    <div class="eight-columns">
        <h2 class="underline thin">
            Contact Us
        </h2>
    </div>
    <div class="new-row eight-columns">
        <p>
            Thank you for taking the time to contact us. Your request will be reviewed and if
            it requires a response, one of our representatives will contact you within the next
            few days.
        </p>
    </div>
</div>
