@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VendorManagement/Views/Shared/_VendorLayout.cshtml";
}
<hgroup id="main-title" class="thin">
    <h1>
        Temporary Credit Card History</h1>
</hgroup>
<div class="with-padding">
    <div id="VendorCCHistoryTab" class="standard-tabs same-height" data="vendorCCPrrocessingDynamicTabs">
        <ul class="tabs ccHistoryDetails">
            <li id="tbVendorCCHistoryList" class="with-tooltip" title="Payment Runs"><a href="@Url.Action("_Temporary_CC_Payment_Runs", "VendorTemporaryCCHistory", new { area = "VendorManagement" })"  id="temporaryCCPaymentRunsList">
                Payment Runs</a> </li>
        </ul>
    </div>
</div>
<script type="text/javascript">

    var tabObject = null;
    $(function () {
        tabObject = $("#VendorCCHistoryTab").tabs();
    });
</script>
