@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="new-row twelve-columns">
    <table border="1" width="700">
        <tr>
            <td>
                <b><font face="Arial" size="2">Customer ID</font></b>
            </td>
            <td>
                <b><font face="Arial" size="2">Customer Name</font></b>
            </td>
            <td>
                <b><font face="Arial" size="2">PO Number</font></b>
            </td>
            <td>
                <b><font face="Arial" size="2">ISP</font></b>
            </td>
            <td>
                <b><font face="Arial" size="2">Client</font></b>
            </td>
        </tr>
        <tr>
            <td>
                <font face="arial" size="2">34520710 </font>
            </td>
            <td>
                <font face="arial" size="2">RADITCH , JOSH </font>
            </td>
            <td>
                <!-- Step 1: Render a form as follows. Please note that the action attribute should have a fully qualified url to the SR Details page. -->
                <form action="/Home/ServiceRequest" method="post" target="_blank">
                <input type="hidden" value="1376" name="srid" />
                <input type="hidden" value="7745688" name="ponosave" />
                </form>
                <!-- End of change  -->
                @Html.ActionLink("7745688", "ServiceRequest", new { ponosave = "7745679", srid = "1376" }, new { @class = "polink", target = "_blank" })
            </td>
            <td>
                <font face="arial" size="2">CA49548 </font>
            </td>
            <td>
                <font face="arial" size="2">002659 </font>
            </td>
        </tr>
        <tr>
            <td>
                <font face="arial" size="2">34520710 </font>
            </td>
            <td>
                <font face="arial" size="2">RADITCH , JOSH </font>
            </td>
            <td>
                <form action="/Home/ServiceRequest" method="post" target="_blank">
                <input type="hidden" value="1377" name="srid" />  
                <input type="hidden" value="7745679" name="ponosave" />               
            </form>
            <!-- End of change  -->
                @Html.ActionLink("7745679", "ServiceRequest", new { ponosave = "7745679", srid = "1377" }, new {@class = "polink", target = "_blank" })                
            </td>
            <td>
                <font face="arial" size="2">CA25518 </font>
            </td>
            <td>
                <font face="arial" size="2">002659 </font>
            </td>
        </tr>
    </table>
</div>
<!--    Step 2: Attach an event handler for the click event on the hyperlink for the po number.
        Note :The following script requires Jquery to be included. For more details, please visit www.jquery.com
 -->
<script language="javascript" type="text/javascript">

    $(function () {

        $(".polink").click(function (e) {
            e.preventDefault();
            var that = $(this);
            var $td = that.parent("td");
            var $form = $td.find("form");
            $form.submit();

            return false;
        });
    });

</script>
<!-- End of change -->
