@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
}
<div class="with-padding">
    <!-- Tabs with Member, PO, Closed loop and ISP go here ... -->
                <div id="mapBusinessInformationTabs" class="standard-tabs">
                    <ul class="tabs">
                        <li><a href="#"><span>info</span></a></li>
                        <li><a href="#"><span>Rates</span></a></li>
                        <li><a href="#"><span>Activity</span></a></li>
                        
                    </ul>
                </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#mapBusinessInformationTabs').tabs();
    });
</script>