@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentMaster-public.cshtml";
}
<div class="leader relative">&nbsp;</div>
     <div class="triangle-grey"></div> 
<div class="constrain">
<div class="columns">
<h2 class="thin">Terms of Service</h2>
</div>
</div>
