<div class="with-padding">
    <div class="columns">
        <div class="twelve-columns">
            <h4 class="underline">
                Requirements:
            </h4>
            <ul>
                <li>Must be a minimum of 7 characters </li>
                <li>May be any combination of letters or numbers </li>
                <li>May contain special characters but that is not required </li>
                @*<li>@Html.Raw("Must contain a special character, for example: ~!@#$%^&*()")></li>*@
                <li>May contain uppercase and lowercase characters</li>
            </ul>
            <i>Note: Passwords are case sensitive, so be sure to enter upper and lowercase letters
                carefully. </i>
        </div>
        <div class="new-row twelve-columns">
            <h4 class="underline">
                Tips for Creating Strong Passwords:
            </h4>
            <ul>
                <li>Use a longer password to make it harder for a hacker to guess</li>
                <li>Avoid using common words that could be easy to guess</li>
                <li>Avoid sequences of letters or numbers like: 123456, ABC123, abcdef, and asdf.</li>
                <li>Avoid personal information that is easy to find on social media or other websites
                    (for example: your name, SSN, date of birth, or street address).</li>
                <li>Avoid re-using passwords that you have used before or on other websites. </li>
            </ul>
        </div>
    </div>
</div>
