<p style="text-align:left;">
@Html.Raw("Password must be at least 7 characters and use at least 1 special character:  ~!@#$%^&*().")

</p>

<p style="text-align:left;">
@Html.Raw("You may use upper and lowercase letters and numbers.")
</p>
