/****** Object:  UserDefinedTableType [dbo].[BillingDefinitionProgramsTableType]    Script Date: 04/29/2014 02:13:26 ******/
DROP TYPE [dbo].[BillingDefinitionProgramsTableType]
GO
CREATE TYPE [dbo].[BillingDefinitionProgramsTableType] AS TABLE(
	[ProgramID] [int] NULL
)
GO
