/****** Object:  UserDefinedTableType [dbo].[BillingDefinitionInvoiceTableType]    Script Date: 04/29/2014 02:13:26 ******/
DROP TYPE [dbo].[BillingDefinitionInvoiceTableType]
GO
CREATE TYPE [dbo].[BillingDefinitionInvoiceTableType] AS TABLE(
	[BillingDefinitionInvoiceID] [int] NULL
)
GO
