/****** Object:  StoredProcedure [dbo].[Vehicle_InsertUpdate]    Script Date: 04/29/2014 02:13:23 ******/
IF EXISTS (SELECT * FROM dbo.sysobjects 
 WHERE id = object_id(N'[dbo].[Vehicle_InsertUpdate]')   		AND type in (N'P', N'PC')) 
 BEGIN
 DROP PROCEDURE [dbo].[Vehicle_InsertUpdate] 
 END 
 GO  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--******************************************************************************************
--******************************************************************************************
--
-- Rhood		^1			added Vin into the filter criteria
--******************************************************************************************
--******************************************************************************************

CREATE PROCEDURE [dbo].[Vehicle_InsertUpdate]
			(
				@pVehicleCategoryID int = NULL,
				@pRVTypeID int = NULL,
				@pVehicleTypeID int = NULL,
				@pMembershipID int = NULL,
				@pMemberID int = NULL,
				@pVIN varchar(50) = NULL,
				@pYear varchar(4) = NULL,
				@pMake varchar(50) = NULL,
				@pMakeOther varchar(50) = NULL,
				@pModel varchar(50) = NULL,
				@pModelOther varchar(50) = NULL,
				@pLicenseNumber varchar(20) = NULL,
				@pLicenseState varchar(2) = NULL,
				@pDescription varchar(255) = NULL,
				@pColor varchar(50) = NULL,
				@pLength int = NULL,
				@pHeight varchar(50) = NULL,
				@pTireSize varchar(50) = NULL,
				@pTireBrand varchar(50) = NULL,
				@pTireBrandOther varchar(50) = NULL,
				@pTrailerTypeID int = NULL,
				@pTrailerTypeOther varchar(50) = NULL,
				@pSerialNumber varchar(50) = NULL,
				@pNumberofAxles int = NULL,
				@pHitchTypeID int = NULL,
				@pHitchTypeOther varchar(50) = NULL,
				@pTrailerBallSize varchar(50) = NULL,
				@pTrailerBallSizeOther varchar(50) = NULL,
				@pTransmission varchar(100) = NULL,
				@pEngine varchar(100) = NULL,
				@pGVWR int = NULL,
				@pChassis varchar(100) = NULL,
				@pPurchaseDate datetime = NULL,
				@pWarrantyStartDate datetime = NULL,
				@pStartMileage int = NULL,
				@pEndMileage int = NULL,
				@pMileageUOM varchar(50) = NULL,
				@pIsFirstOwner bit = NULL,
				@pIsSportUtilityRV bit = NULL,
				@pSource varchar(50) = NULL,
				@pIsActive bit = NULL,
				@pVehicleLicenseCountryID int = NULL,
				@pClientMemberKey varchar(50) = NULL,
				@pClientMembershipKey varchar(50) = NULL,
				@pCreateBatchID	int = NULL,
				@pCreateDate datetime = NULL,
				@pCreateBy varchar(50) = NULL,
				@pModifyBatchID	int = NULL,
				@pModifyDate datetime = NULL,
				@pModifyBy varchar(50) = NULL,
				@pWarrantyPeriod int = NULL,
				@pWarrantyPeriodUOM nvarchar(25) = NULL, 
				@pWarrantyMileage int = NULL,
				@pWarrantyEndDate Datetime = NULL
			)
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET NOCOUNT OFF

declare @MembershipID as int

select @MembershipID = id from Membership where ClientMembershipKey = @pClientMembershipKey

   MERGE [dbo].[Vehicle] AS target
    USING (select 
				@pVehicleCategoryID,
				@pRVTypeID,
				@pVehicleTypeID,
				@MembershipID,
				@pMemberID,
				@pVIN,
				@pYear,
				@pMake,
				@pMakeOther,
				@pModel,
				@pModelOther,
				@pLicenseNumber,
				@pLicenseState,
				@pDescription,
				@pColor,
				@pLength,
				@pHeight,
				@pTireSize,
				@pTireBrand,
				@pTireBrandOther,
				@pTrailerTypeID,
				@pTrailerTypeOther,
				@pSerialNumber,
				@pNumberofAxles,
				@pHitchTypeID,
				@pHitchTypeOther,
				@pTrailerBallSize,
				@pTrailerBallSizeOther,
				@pTransmission,
				@pEngine,
				@pGVWR,
				@pChassis,
				@pPurchaseDate,
				@pWarrantyStartDate,
				@pStartMileage,
				@pEndMileage,
				@pMileageUOM,
				@pIsFirstOwner,
				@pIsSportUtilityRV,
				@pSource,
				@pIsActive,
				@pVehicleLicenseCountryID,
				@pCreateBatchID,
				@pCreateDate,
				@pCreateBy,
				@pModifyBatchID,
				@pModifyDate,
				@pModifyBy,
				@pWarrantyPeriod,
				@pWarrantyPeriodUOM, 
				@pWarrantyMileage,
				@pWarrantyEndDate
			)
			as source( 
				[VehicleCategoryID],
				[RVTypeID],
				[VehicleTypeID],
				[MembershipID],
				[MemberID],
				[VIN],
				[Year],
				[Make],
				[MakeOther],
				[Model],
				[ModelOther],
				[LicenseNumber],
				[LicenseState],
				[Description],
				[Color],
				[Length],
				[Height],
				[TireSize],
				[TireBrand],
				[TireBrandOther],
				[TrailerTypeID],
				[TrailerTypeOther],
				[SerialNumber],
				[NumberofAxles],
				[HitchTypeID],
				[HitchTypeOther],
				[TrailerBallSize],
				[TrailerBallSizeOther],
				[Transmission],
				[Engine],
				[GVWR],
				[Chassis],
				[PurchaseDate],
				[WarrantyStartDate],
				[StartMileage],
				[EndMileage],
				[MileageUOM],
				[IsFirstOwner],
				[IsSportUtilityRV],
				[Source],
				[IsActive],
				[VehicleLicenseCountryID],
				[CreateBatchID],
				[CreateDate],
				[CreateBy],
				[ModifyBatchID],
				[ModifyDate],
				[ModifyBy],
				[WarrantyPeriod],
				[WarrantyPeriodUOM], 
				[WarrantyMileage],
				[WarrantyEndDate]
           )
    ON (target.MembershipID = source.MembershipID and target.vin = source.vin) --^1
    
    WHEN MATCHED THEN 
        UPDATE SET 
				[VIN] = source.[VIN],
				[Transmission] = source.[Transmission],
				[Year] = source.[Year],
				[Make] = source.[Make],
				[MakeOther] = source.[MakeOther],
				[Model] = source.[Model],
				[ModelOther] = source.[ModelOther],
				[Length] = source.[Length],
				[Chassis] = source.[Chassis],
				[PurchaseDate] = source.[PurchaseDate],
				[WarrantyStartDate] = source.[WarrantyStartDate],
				[StartMileage] = source.[StartMileage],
				[EndMileage] = source.[EndMileage],
				ModifyBatchID = source.ModifyBatchid,
				ModifyDate = source.ModifyDate,
				ModifyBy = source.ModifyBy,
				[WarrantyPeriod] = source.WarrantyPeriod,
				[WarrantyPeriodUOM] = source.WarrantyPeriodUOM, 
				[WarrantyMileage] = source.WarrantyMileage,
				[WarrantyEndDate] = source.WarrantyEndDate
	WHEN NOT MATCHED THEN	
	    INSERT (
				[VehicleCategoryID],
				[RVTypeID],
				[VehicleTypeID],
				[MembershipID],
				[MemberID],
				[VIN],
				[Year],
				[Make],
				[MakeOther],
				[Model],
				[ModelOther],
				[LicenseNumber],
				[LicenseState],
				[Description],
				[Color],
				[Length],
				[Height],
				[TireSize],
				[TireBrand],
				[TireBrandOther],
				[TrailerTypeID],
				[TrailerTypeOther],
				[SerialNumber],
				[NumberofAxles],
				[HitchTypeID],
				[HitchTypeOther],
				[TrailerBallSize],
				[TrailerBallSizeOther],
				[Transmission],
				[Engine],
				[GVWR],
				[Chassis],
				[PurchaseDate],
				[WarrantyStartDate],
				[StartMileage],
				[EndMileage],
				[MileageUOM],
				[IsFirstOwner],
				[IsSportUtilityRV],
				[Source],
				[IsActive],
				[VehicleLicenseCountryID],
				[CreateBatchID],
				[CreateDate],
				[CreateBy],
				[WarrantyPeriod],
				[WarrantyPeriodUOM], 
				[WarrantyMileage],
				[WarrantyEndDate]
           )
	    VALUES (
				source.[VehicleCategoryID],
				source.[RVTypeID],
				source.[VehicleTypeID],
				source.[MembershipID],
				source.[MemberID],
				source.[VIN],
				source.[Year],
				source.[Make],
				source.[MakeOther],
				source.[Model],
				source.[ModelOther],
				source.[LicenseNumber],
				source.[LicenseState],
				source.[Description],
				source.[Color],
				source.[Length],
				source.[Height],
				source.[TireSize],
				source.[TireBrand],
				source.[TireBrandOther],
				source.[TrailerTypeID],
				source.[TrailerTypeOther],
				source.[SerialNumber],
				source.[NumberofAxles],
				source.[HitchTypeID],
				source.[HitchTypeOther],
				source.[TrailerBallSize],
				source.[TrailerBallSizeOther],
				source.[Transmission],
				source.[Engine],
				source.[GVWR],
				source.[Chassis],
				source.[PurchaseDate],
				source.[WarrantyStartDate],
				source.[StartMileage],
				source.[EndMileage],
				source.[MileageUOM],
				source.[IsFirstOwner],
				source.[IsSportUtilityRV],
				source.[Source],
				source.[IsActive],
				source.[VehicleLicenseCountryID],
				source.[CreateBatchID],
				source.[CreateDate],
				source.[CreateBy],
				source.[WarrantyPeriod],
				source.[WarrantyPeriodUOM], 
				source.[WarrantyMileage],
				source.[WarrantyEndDate]
           );
GO

