/****** Object:  UserDefinedTableType [dbo].[BillingInvoiceTableType]    Script Date: 04/29/2014 02:13:26 ******/
DROP TYPE [dbo].[BillingInvoiceTableType]
GO
CREATE TYPE [dbo].[BillingInvoiceTableType] AS TABLE(
	[BillingInvoiceID] [int] NULL
)
GO
