@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentMaster-public.cshtml";
}
<div class="leader relative">&nbsp;</div>
  
<div class="constrain large-margin-bottom">
<div class="columns">
<h2 class="thin">Privacy Policy</h2>
<h3>Our Commitment to Your Privacy:</h3>
<p>Because the Pinnacle Partner Network respects your right to privacy, we have always placed a high priority on protecting the personal information you provide us.  We are proud of the trust our members have placed in us to transact business honestly, with our member's best interests at heart. To better protect your privacy, we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on every page of our website and at every point where personally identifiable information may be requested. </p>
<h3>The Information We Collect:</h3>
<p>Pinnacle Partner Network collects and uses personal information for legitimate business purposes and our privacy promise is to continue to protect your right to privacy. Pinnacle Partner Network will not share the nonpublic personal information of current or former members with non-affiliated third parties except in these cases: </p>
<ul>
  <li>As permitted by law. For example, providing information to industry regulators, to law enforcement agencies, for fraud prevention, to credit bureaus and to third parties that assist us in processing the transactions you authorize and in mailing materials to you. </li>
  <li>With parties that assist Pinnacle Partner Network in promoting our own products and services, such as printers, mail houses, and list management companies. It is Pinnacle Partner Network’s policy to include confidentiality and data protection provisions in the contracts we make with these companies. We provide them with the limited information they need to perform their services for Coach-Net, such as names and addresses collected through our transactions. </li>
  <li>With alliance companies engaged in value added services. These are companies whose products/services are endorsed and offered by Coach-Net, such as companies engaged in travel reservations and discount programs. Pinnacle Partner Network shares data with these alliance companies to ensure that Pinnacle Partner Network and its members are receiving the benefits of the relationship. We provide them only identifying information, such as your name, address and phone number and work together to avoid unnecessary mailings. Pinnacle Partner Network’s alliance companies are also contractually required to protect the confidentiality and security of the information we provide. </li>
</ul>
<p>Pinnacle Partner Network collects the following information about customers and former customers and may share it within Pinnacle Partner Network’s family of companies: </p>
<ul>
  <li>Information you provide to us on applications and other forms. </li>
  <li>Information about your transactions with us. </li>
  <li>Your status as a customer with our alliance companies. </li>
  <li>Information from industry databases, researchers, and marketing data providers. </li>
  <li>On our web site, we collect site usage and the previous web site addresses. </li>
</ul>
<h3>Our Commitment to Data Security:</h3>
<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. </p>
<p>Pinnacle Partner Network maintains policies and practices that protect the security and confidentiality of our member information. The policies provide for: </p>
<ul>
  <li>Access to member records being restricted to employees who we determine need the information in order to perform their job duties. </li>
  <li>Maintaining and protecting information through security-enhancing software such as virus and intrusion detection software. </li>
  <li>Physical security at our buildings. </li>
  <li>Password protection on database access for both employees and members. </li>
  <li>Employee training. </li>
  <li>Backup and recovery procedures. </li>
</ul>
<h3>Our Commitment to Children's Privacy:</h3>
<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13. </p>
<h3>Our Commitment to Geographic Location Based Services Privacy:</h3>
<p>During a roadside assistance service event, locating you quickly is a critical component of our dispatch process. To locate you as accurately and quickly as possible, we may use our location aware mobility solution to find your location using your phone.  Calling for roadside assistance is considered implicit consent and grants Pinnacle Partner Network permission to do this. You are agreeing to these terms and conditions and are authorizing Pinnacle Partner Network to collect, use, and disclose your geographic location and other personal information (including your name, address, telephone number) to enable delivery of dispatch service. Your personal information will be kept in a secured database and we use appropriate technical and procedural security measures to protect your personal information. Pinnacle Partner Network will not share any information collected from you for any purpose other than to facilitate dispatch service. </p>
<h3>Our Commitment to Mobile Application Privacy:</h3>
<p>When you download Pinnacle Partner Network Mobile App, you authorize and consent to the collection, storage and use of any information and data related to or derived from the use of the Pinnacle Partner Network Mobile Application. Information may include, but not limited to, search requests, search results, patterns, data and suggestions based on user actions. Your personal information will be kept in a secured database and we use appropriate technical and procedural security measures to protect your personal information. Pinnacle Partner Network will not share any information collected from you for any purpose other than to facilitate dispatch service and/ or improve the service of the mobile application itself.</p>
<h3>Our Commitment to Short Message Service (SMS Text Messaging) Terms and Privacy:</h3>
<p>We understand that you may incur fees from your cellular carrier from receiving and sending text messages.  We also understand that protecting the privacy of any SMS text messages is important.  For that reason, before sending you any text messages, Pinnacle Partner Network will ask for your permission. By granting us permission to send you text messages, you are consenting to these terms and conditions and are authorizing Pinnacle Partner Network to send you text messages regarding a roadside assistance event. Pinnacle Partner Network will not share any text messages sent or received from you for any purpose other than to facilitate dispatch service. Remember, if SMS messages are sent from Pinnacle Partner Network to your mobile phone or other device, Message and Data Rates may apply.</p>

<h3>How You Can Access or Correct Your Information:</h3>
<p>You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections. </p>
<h3>How To Contact Us:</h3>
<p>Should you have other questions or concerns about these privacy policies, please call us at 1-800-285-4977 option 3.</p>
<p>ver. 2.0</p>

</div>
</div>