<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        html
        {
            background-image: none;
        }
        body
        {
            font-family: Calibri,Tahoma,Verdana,Sans-Serif;
        }
        .mailBody
        {
            background-color: #F4F4F4 !important;
            border: 5px solid #F4F4F4 !important;
            left: 50% !important;
            margin: -165px auto 20px -215px !important;
            padding: 0 !important;
            position: absolute !important;
            top: 50% !important;
            width: 420px !important;
        }
        .clear
        {
            clear: both;
            height: 0;
            margin: 0;
            padding: 0;
        }
        
        #login .shadow
        {
            height: 33px;
            margin-left: -10px;
            margin-top: 5px;
            position: absolute;
            width: 434px;
            z-index: -1;
        }
        #login
        {
            background-color: #F4F4F4;
            border: 5px outset Black;
            left: 50%;
            margin: -165px auto 20px -215px;
            padding: 0;
            position: absolute;
            top: 50%;
            width: 420px;
        }
        #login .inner
        {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            min-height: 230px;
            overflow: hidden;
        }
        #login .formLogin
        {
            height: 160px;
            margin: auto;
            padding: 100px 20px 20px;
            position: relative;
            width: 320px;
        }
    </style>
</head>
<body style="z-index: 20003; background-color: transparent;
    padding: 0px; min-height: 372px; min-width: 450px; padding: 5px; width: 450px">
    <div style="z-index: 20003; background-color: transparent; max-width: 450px; padding-left: 3px;
        padding-right: 3px; padding-top: 1px; ">
        <div class="inner" style="min-height: 70px;
            max-width: 450px; margin: -5px 0 -4px -3px; min-width: 444px;">
            <div class="logo">
                D M S
            </div>
        </div>
        <div class="formLogin" style="min-height: 70px; max-width: 450px; margin: -5px 0 -4px -3px;
            min-width: 444px; max-width: 450px;">
            <br />
            <h1>
                <span style="color: #005AA1;">Dispatch Management System</span></h1>
            <br />
            Dear $user,
            <p>
                The password to access your account @ D M S is : $password</p>
            <a href="$url/Account/LogOn">Log On</a> to use the system.
            
            <p>
                Regards,<br />
                The Team</p>
        </div>
    </div>
</body>
</html>
