
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentMasterWithoutPanels.cshtml";
}
<script src="@Url.Content("/Scripts/jquery.cascadingDropDown.js")" type="text/javascript"></script>

<h2>Cascading dropdowns (Jquery.styleSelect())</h2>

@Html.DropDownList("FeedbackTypes", ViewData[Martex.DMS.ActionFilters.StaticData.FeedbackTypes.ToString()] as IEnumerable<SelectListItem>, new { @class = "select" })

<div id="orgs">
@Html.DropDownList("Organizations", ViewData[Martex.DMS.ActionFilters.StaticData.Organizations.ToString()] as IEnumerable<SelectListItem>, new { @class = "select" })
</div>

<script language="javascript" type="text/javascript"> 
    $(function () {
        $("#FeedbackTypes").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DropDown1", "POC")',
                traditional: true,
                cache: false,
                async: false,
                success: function (msg) {
                    $("#orgs").html(msg);
                }

            });
        
        });       
    });

</script>