<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <!--INFORICA DEV -->
    <!--<add name="NotificationServices" connectionString="data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;user id=sa;password=Sa1;Connection Timeout=600;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;user id=sa;password=Sa1;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NMC_ETLEntities" connectionString="metadata=res://*/NMCETLModel.csdl|res://*/NMCETLModel.ssdl|res://*/NMCETLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFHYDCRM4D\SQLR2;initial catalog=NMC_ETL;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APTIFYEntities" connectionString="metadata=res://*/PinnacleMembershipModel.csdl|res://*/PinnacleMembershipModel.ssdl|res://*/PinnacleMembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tacoma.nmcdallas.nmca.com\TEST;initial catalog=APTIFY;persist security info=True;user id=DMS_User;password=AX72m_95;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=600&quot;" providerName="System.Data.EntityClient" />-->
    <!-- TEST -->
    <add name="NotificationServices" connectionString="Data Source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95;Connection Timeout=600;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NMC_ETLEntities" connectionString="metadata=res://*/NMCETLModel.csdl|res://*/NMCETLModel.ssdl|res://*/NMCETLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFHYDCRM4D\SQLR2;initial catalog=NMC_ETL;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APTIFYEntities" connectionString="metadata=res://*/PinnacleMembershipModel.csdl|res://*/PinnacleMembershipModel.ssdl|res://*/PinnacleMembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tacoma.nmcdallas.nmca.com\TEST;initial catalog=APTIFY;persist security info=True;user id=DMS_User;password=AX72m_95;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=600&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="owin:OwinStartupAttribute" value="ODISAPI.Startup"/>
    <add key="owin:AutomaticAppStartup " value="false"/>-->
    <add key="X-APIKEY" value="3c649fbbed000642181b173b8c43b814" />    
    <!--BEGIN: Aptify Server Keys-->
    <add key="AptifyServer" value="TACOMA.nmcdallas.nmca.com\TEST" />
    <add key="AptifyUserID" value="11" />
    <add key="AptifyPassword" value="nmc@$ql" />
    <add key="AptifyUserName" value="sa" />
    <add key="PMC_DOMAIN" value="NMCDALLAS.NMCA.COM" />
    <add key="AptifyDBConn" value="SERVER=TACOMA.nmcdallas.nmca.com\test;UID=BATCH_APPLICATION;PWD=Ovj3i8XEC;DATABASE=APTIFY;CONNECT TIMEOUT=60;" />
    <!--END: Aptify Server Keys-->
    <!--BEGIN: Aptify Email Keys-->
    <add key="SMTP_HOST" value="mail.nmca.com" />
    <add key="SMTP_HOST_PORT" value="25" />
    <add key="SEND_EMAILS" value="True" />
    <!--END: Aptify Email Keys-->
    <!--BEGIN: ODIS API Keys-->
    <add key="ODISAPIEndPoint" value="https://testapi.nmcpartnersolutions.com" />
    <add key="ODISAPIUserName" value="pinnacle" />
    <add key="ODISAPIPassword" value="p@ssword1" />
    <!--END ODIS API Keys-->
    <!--BEGIN: Word Press Feed-->
    <add key="WordPressFeedEndPoint" value="https://www.pinnaclemotorclub.com/pmcmobile/wp-json/wp/v2/posts/?category_name=pmcapp" />
    <!--END: Word Press Feed-->
  </appSettings>
  <log4net debug="false">
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--The connection to the database where the logs will be maintained:-->
      <!--NMC DEV -->
      <connectionString value="data source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95" />
      <!--INFORICA DEV -->
      <!--<connectionString value="data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;User Id=sa;pwd=Sa1" />-->
      <commandText value="INSERT INTO [Log] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <!--Specifies what parameters should be logged:-->
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[ %identity ] - %message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\Logs\ODISApiLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%M] %-5level %logger [%identity] - %message%newline" />
      </layout>
    </appender>
    <!-- Main logging settings: -->
    <root>
      <priority value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <!--<appender-ref ref="AdoNetAppender" />-->
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--Setting 10 mb 1024*10 = 10240-->
    <httpRuntime maxRequestLength="10240" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="240" />
    </authentication>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="DMS" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="DMS" />
      </providers>
    </profile>
    <roleManager enabled="false" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="DMS" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="DMS" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <!-- INFORICA DEV-->
    <!--<sessionState timeout="240" mode="SQLServer" sqlConnectionString="data source=INFHYDCRM4D\SQLR2;user id=sa;password=Sa1;database=DMS_DEV_Enhancement" allowCustomSqlDatabase="true"/>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
    </httpHandlers>-->
    <machineKey validationKey="4672F23706430502D365838B4D3D7DF6E63C84DF6FC448940D6CB0ECD9674C4A90674814A7CB587592978701C8DA0AC06FF4506A2BBDFA2C9683CCD03C685C81" decryptionKey="A2BB1C014AD8782D6B87DDBD1A48F0BC586D7643A3F7C7C7EACD54BAA8E17781" validation="SHA1" decryption="AES" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMembershipProcessing" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tacoma.nmcdallas.nmca.com:8731/Aptify.BusinessService/MembershipProcessing/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMembershipProcessing" contract="MembershipService.IMembershipProcessing" name="WSHttpBinding_IMembershipProcessing">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>