<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="APTIFYEntities" connectionString="metadata=res://*/PinnacleMembershipModel.csdl|res://*/PinnacleMembershipModel.ssdl|res://*/PinnacleMembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tacoma.nmcdallas.nmca.com\TEST;initial catalog=APTIFY;persist security info=True;user id=DMS_User;password=AX72m_95;multipleactiveresultsets=True;connect timeout=600;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICNETService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tacoma.nmcdallas.nmca.com:8731/CNET.BusinessService/CNETService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICNETService"
        contract="CNETService.ICNETService" name="BasicHttpBinding_ICNETService" />
    </client>
  </system.serviceModel>
</configuration>