<div class="small-margin-top" id="div_Welcome">
<div class="tabs-content">
<div class="with-padding">
<div class="alert alert-info margin-top margin-bottom">
    <h3>
        Welcome To Your Pinnacle Partner Portal
</h3>
       <p>Coach-Net, a name you already know and trust, is changing the name of our dispatch operations to Pinnacle Dispatch Solutions. The change reflects our expansion into new markets, new products, and new business relationships – which means increased revenue and dispatch volume for your business. It also underscores our unparalleled commitment to a concierge-class level of service and to you, our towing partners.</p>
     <p>There has never been a more exciting time to be part of our Service Partner Network. We are expanding by adding new programs, features, and customers – which means more dispatch volume and higher earnings for you.</p>
        <p>Want to increase revenue and dispatch volume even more? Become a part of Pinnacle’s Preferred Partner Network. With our incentivized bonus structure, getting you on the road to making more money is easy. For more information, contact your Regional Manager.</p>
   
        </div>
        </div>
</div>
</div>
