@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ClientManagement/Views/Shared/_ClientManagementLayout.cshtml";
}

<hgroup id="main-title" class="thin"> 
    <h1>Claims</h1> 
</hgroup>
<div class="with-padding">
   
</div>


