@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
}
<div class="with-padding">
    <hgroup id="main-title" class="thin">
        <h1>
            Message Maintenance</h1>
    </hgroup>
    <div id="AdminMessageMaintenanceTabs" class="standard-tabs same-height" data="adminMessageMaintenanceDynamicTabs">
        <ul class="tabs">
            <li><a href="#tabs-1" class="icon-list">Message</a></li>
        </ul>
        <div id="tabs-1" class="adminMessageMaintenanceDynamicTabs">
            <div class="with-padding">
                @Html.Partial("_SearchResults")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tabObject = null;
    $(function () {
        tabObject = $('#AdminMessageMaintenanceTabs').tabs();
    });

</script>
