<div class='with-padding'>
    <ul>
        <li>You can now keep your information up-to-date online. </li>
        <li>The list at the top lets you switch between your billing information and your dispatch
            location(s). </li>
        <li>You can update or add addresses and phone numbers. </li>
        <li>Note: Dispatch and Fax numbers are setup at the location. You must select a location
            from the dropdown list first to see the dispatch and fax numbers at that location.
        </li>
        <li>The Documents tab lets you upload W-9, insurance certificates and other documents.</li>
    </ul>
</div>
