<div class='with-padding'>
    <ul>
        <li>You can now signup for ACH online. Just click Sign me up! To get started. </li>
        <li>You can update your information when needed. </li>
        <li>You can turn off ACH if you want to begin receiving your payments by mail. </li>
    </ul>
</div>
