<div class='with-padding'>
    <ul>
        <li><a href='javascript:void(0);' onclick='StartNavigationTour();'>Take A Tour</a>
        </li>
        <li>Click on the left-side tabs with the icons to move between sections of the portal
        </li>
        <li>This right side margin contains help information for each page, some quick links
            and your Rep’s information </li>
        <li>Please contact your rep if there is something you cannot get answered on
            the Pinnacle Partner Portal </li>
    </ul>
</div>
