<div class='with-padding'>
    <ul>
        <li>We would love to get your feedback! </li>
        <li>You must enter all the fields that have the red asterisk by the label </li>
        <li>Tell us how you want us to get back to you: email, phone call, etc. </li>
        <li>If there is a problem please give us a detailed description and we will get you
            some help</li>
        <li>If you need to include a document just click on Select files… navigate to the file
            and click open, it puts the name of the file in the box. If you decide not to include
            the file, just click the Remove button. </li>
        <li>When the form is all filled out, click Send Feedback, it will send us an email.</li>
        <li>We value your opinion, your Rep will respond based on the priority of your
            request.</li>
    </ul>
</div>
