<div class='with-padding'>
    <ul>
        <li>Here you can look at your prior invoices. </li>
        <li>Enter a PO # and click Search. </li>
        <li>Select a Date Range from the list and it will fill in the dates for you. </li>
        <li>Enter a From and To date and click Search and you will get a list of all invoices in that range. </li>
        <li>Click Reset to remove the search criteria </li>
    </ul>
</div>
