<div class='with-padding'>
    <ul>
        <li>Service Ratings are based on performance. </li>
        <li>These ratings are the average for all the service types in each category. </li>
        <li>Click the category name and it will change the list to just show that category. </li>
        <li>Click Clear Filters to go back to the full list. </li>
        <li>Click the black triangle to show the detailed list of all the calls for that service type. </li>
    </ul>
</div>
