<div class='with-padding'>
    <ul>
        <li>You must provide information in each field. </li>
        <li>Invoices cannot be entered until 6 hours after the PO is issued. </li>
        <li>Invoice amount cannot be larger than the PO amount </li>
        <li>Invoices cannot be submitted for PO's over 90 days old </li>
        <li>Invoices will typically be paid within 10 days. </li>
    </ul>
</div>
