<div class='with-padding'>
    <ul>
        <li>This page shows your user information and lets you update it and change your password.
        </li>
        <li>Update your name or email address and click Update Profile to save the update.
        </li>
        <li>You can change your password. Just type in your old password, your new password
            and confirm your new password. </li>
        <li>The password must be a minimum of 7 characters, contain at least one special character
            @Html.Raw("!@#$%^&*()") and you can use upper and lower-cased letters, it is case sensitive.
        </li>
    </ul>
</div>
