@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CX/Views/Shared/_CXLayout.cshtml";
}
<hgroup id="main-title" class="thin">
    <h1>
        Dashboard
    </h1>
    <h2>@DateTime.Now.ToString("MM/dd/yyyy")</h2>
</hgroup>