@{
    ViewBag.Title = "ActivationFailure";
    Layout = "~/Views/Shared/_ContentMaster-public.cshtml";
}
<div class="leader relative">
    &nbsp;</div>

<div class="constrain">
    <div class="columns with-padding">
        <div class="twelve-columns instructions margin-top">
            <h2>
                Your account confirmation has expired or is invalid.</h2>
            <h4>
                Please call Vendor Services at 800-555-5555.</h4>
        </div>
    </div>
</div>
