<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;user id=sa;password=Sa1;Connection Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFHYDCRM4D\SQLR2;initial catalog=DMS_DEV_Enhancement;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>


  </appSettings>

  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Logs\\DMSCommServiceLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>


    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!--The connection to the database where the logs will be maintained:-->

      <connectionString value="data source=192.168.0.162\SQLR2;initial catalog=DMS_DEV_Enhancement;User Id=sa;pwd=Sa1"/>
      <commandText value="INSERT INTO [Log] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>

      <!--Specifies what parameters should be logged:-->

      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <!-- Main logging settings: -->
    <root>
      <priority value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="dmsdemoinforica@gmail.com">
        <network host="smtp.gmail.com" userName="dmsdemoinforica@gmail.com" password="dmsdemoinforica" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
