
<form method="post" action="" id="form-password" class="input-wrapper orange-gradient glossy"
formtitle="Lost password?">
<p class="message">
    If you can’t remember your password, fill the input below with your username and we’ll
    send you a new one to your email: <span class="block-arrow"><span></span></span>
</p>
<ul class="inputs black-input large">
    <li><span class="icon-card mid-margin-right"></span>
        <input type="text" name="forgotpassword_username" id="forgotpassword_username" value="" class="validate[required] input-unstyled with-tooltip tooltip-right" title="User name" error-required="Please type your User Name" autocomplete="off"></li>
</ul>
<button type="submit" class="button glossy full-width" id="send-password">
    Send new password</button>
</form>
