<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="PATH_TO_REG_KEY" value="HKEY_CURRENT_USER\Software\Cisco Systems,Inc.\Communicator"/>
    <add key="REG_KEY_VALUE" value="HostName"/>
  </appSettings>
</configuration>