@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VendorManagement/Views/Shared/_VendorLayout.cshtml";
}
<hgroup id="main-title" class="thin">
    <h1>
        Manage Vendor Location Geography Details
    </h1>
</hgroup>
<div class="with-padding">
    <div id="VendorLocationGeographyTab" class="standard-tabs same-height">
        <ul class="tabs">
            <li id="tbVendorLcoation"><a href="#tabs-1">Locations</a> </li>
        </ul>
        <div id="tabs-1">
            <div class="with-padding">
                @Html.Partial("_VendorLocationResults")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#VendorLocationGeographyTab").tabs();
    });
</script>
    