@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentMaster-Vendor.cshtml";
}
<hgroup id="main-title" class="thin">
<h1>Service Ratings</h1>
</hgroup>
<div class="with-padding">
    <div id="ServiceRatingsTab" class="standard-tabs same-height">
        <ul class="tabs serviceRatingsTabDetails">
            <li id="tbServiceRatingsTabList" class="with-tooltip" title="Service Ratings"><a href="@Url.Action("_Service_Ratings", "ServiceRating", new { area = "ISP" })"  id="serviceRatingList">
                Service Ratings</a> </li>
        </ul>
    </div>
</div>
<script type="text/javascript">

    var tabObject = null;
    $(function () {
        tabObject = $("#ServiceRatingsTab").tabs();
        LoadHelpText("_ServiceRatingsHelp");
    });
</script>
