<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=infhyduc;initial catalog=DMSDEV;user id=sa;password=Sa1;" providerName="System.Data.SqlClient" />
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infhyduc;initial catalog=DMSDEV;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>


  </appSettings>

  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Logs\\DMSAduitLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!-- Main logging settings: -->
    <root>
      <priority value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <!--<appender-ref ref="AdoNetAppender" />-->
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="dmsdemoinforica@gmail.com">
        <network host="smtp.gmail.com" userName="dmsdemoinforica@gmail.com" password="dmsdemoinforica" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>