<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientPortalMemberService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://infhydcrm4d:82/ClientPortalMemberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientPortalMemberService"
                contract="ServiceReferenceClient.IClientPortalMemberService"
                name="BasicHttpBinding_IClientPortalMemberService" />
        </client>
    </system.serviceModel>
</configuration>