SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE #tmpCoachNetDealerPartner_List(
	[VendorID] [int] NULL,
	[VendorNumber] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].#tmpCoachNetDealerPartner_List ([VendorID], [VendorNumber], [Name], [City], [State]) VALUES (NULL, N'AB109922', N'LACOMBE RV', N'LACOMBE COUNTY', N'AB')
INSERT [dbo].#tmpCoachNetDealerPartner_List ([VendorID], [VendorNumber], [Name], [City], [State]) VALUES (NULL, N'AB109933', N'WESTERN RV COUNTRY', N'RED DEER', N'AB')
INSERT [dbo].#tmpCoachNetDealerPartner_List ([VendorID], [VendorNumber], [Name], [City], [State]) VALUES (NULL, N'AB117803', N'RANGELAND RV & TRAILER SALES', N'BALZAC', N'AB')
GO
print 'Processed 100 total records'



DECLARE @productCDPID INT = NULL,
@productGRVID INT = NULL
CREATE TABLE #tempCDPVendors
(
ROWNUM INT IDENTITY(1,1),
ID INT NULL,
Number NVARCHAR(100) NULL,
VendorProductID INT NULL
)
CREATE TABLE #tempCDPVendorLocations
(
ROWNUM INT IDENTITY(1,1),
VendorID INT NULL,
VendorLocationID INT NULL,
VendorLocationProductID INT NULL
)

CREATE TABLE #tempGRVVendors
(
ROWNUM INT IDENTITY(1,1),
ID INT NULL,
Number NVARCHAR(100) NULL,
VendorProductID INT NULL
)
CREATE TABLE #tempGRVVendorLocations
(
ROWNUM INT IDENTITY(1,1),
VendorID INT NULL,
VendorLocationID INT NULL,
VendorLocationProductID INT NULL
)
PRINT 'CoachNet Dealer Partner'
SET @productCDPID = (SELECT ID FROM Product WHERE Name ='CoachNet Dealer Partner')
INSERT INTO #tempCDPVendors
Select DISTINCT V.ID As ID ,z.VendorNumber AS VendorNumber  , VP.ID from 
#tmpCoachNetDealerPartner_List z
join Vendor V ON v.VendorNumber = z.VendorNumber
left outer join VendorProduct VP ON VP.VendorID = V.ID AND VP.ProductID = @productCDPID
where VP.ID IS NULL

INSERT INTO #tempCDPVendorLocations
Select WV.ID AS VendorID,VL.ID as VendorLocationID , VLP.ID
from VendorLocation VL
join #tempCDPVendors WV ON  WV.ID =VL.VendorID
left outer join VendorLocationProduct VLP ON VLP.VendorLocationID = VL.ID AND VLP.ProductID = @productCDPID
where VLP.ID IS NULL

PRINT 'Insert into VendorProduct Started'
INSERT INTO VendorProduct 
SELECT V.ID
	, @productCDPID
	, 1
	, 0.00
	, getdate()
	, 'System'
	, NULL
	, NULL
FROM #tempCDPVendors V
	
PRINT 'Inserting Into VendorProduct Done'
INSERT INTO VendorLocationProduct 
SELECT VL.VendorLocationID
	, @productCDPID
	, 1
	, 100.00
	, getdate()
	, 'System'
	, NULL
	, NULL
FROM #tempCDPVendorLocations VL
PRINT 'Inserting Into VendorLocationProduct Done'
DROP TABLE #tempCDPVendors
DROP TABLE #tempCDPVendorLocations

PRINT 'General RV'
SET @productGRVID = (SELECT ID FROM Product WHERE Name ='General RV')
INSERT INTO #tempGRVVendors
Select DISTINCT V.ID As ID ,z.VendorNumber AS VendorNumber  , VP.ID from 
#tmpCoachNetDealerPartner_List z
join Vendor V ON v.VendorNumber = z.VendorNumber
left outer join VendorProduct VP ON VP.VendorID = V.ID AND VP.ProductID = @productGRVID
where VP.ID IS NULL

INSERT INTO #tempGRVVendorLocations
Select WV.ID AS VendorID,VL.ID as VendorLocationID , VLP.ID
from VendorLocation VL
join #tempGRVVendors WV ON  WV.ID =VL.VendorID
left outer join VendorLocationProduct VLP ON VLP.VendorLocationID = VL.ID AND VLP.ProductID = @productGRVID
where VLP.ID IS NULL

PRINT 'Insert into VendorProduct Started'
INSERT INTO VendorProduct 
SELECT V.ID
	, @productGRVID
	, 1
	, 0.00
	, getdate()
	, 'System'
	, NULL
	, NULL
FROM #tempGRVVendors V
	
PRINT 'Inserting Into VendorProduct Done'
INSERT INTO VendorLocationProduct 
SELECT VL.VendorLocationID
	, @productGRVID
	, 1
	, 0.00
	, getdate()
	, 'System'
	, NULL
	, NULL
FROM #tempGRVVendorLocations VL
PRINT 'Inserting Into VendorLocationProduct Done'

DROP TABLE #tempGRVVendors
DROP TABLE #tempGRVVendorLocations
DROP TABLE #tmpCoachNetDealerPartner_List