<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FordClientID" value="32"/>
    <add key="TargetFolder" value="D:\tmp\ExportClaimDocs"/>
  </appSettings>
  <connectionStrings>
    <!--Inforica Dev-->
    <add name="ApplicationServices" connectionString="data source=infhydsp;initial catalog=DMS_DEV_Enhancement;user id=sa;password=Sa1;" providerName="System.Data.SqlClient" />
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infhydsp;initial catalog=DMS_DEV_Enhancement;persist security info=True;user id=sa;password=Sa1;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--DMS_TEST-->
    <!--<add name="ApplicationServices" connectionString="data source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95;" providerName="System.Data.SqlClient"/>
    <add name="DMSEntities" connectionString="metadata=res://*/DMSModel.csdl|res://*/DMSModel.ssdl|res://*/DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;persist security info=True;user id=DMS_User;password=AX72m_95;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
</configuration>