<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--DEV-->
    <!--<add name="ApplicationServices" connectionString="Data Source=localhost;Initial Catalog=DMS_DEV_Enhancement;User ID=sa;Password=Sa1" providerName="System.Data.SqlClient" />-->
    <!--TEST-->
    <add name="ApplicationServices" connectionString="data source=Traverse.nmcdallas.nmca.com\Test;initial catalog=DMS_TEST;user id=DMS_User;password=AX72m_95;" providerName="System.Data.SqlClient"/>     
  </connectionStrings>
  <appSettings>
    <add key="surveyId" value="121577355"/>
    <add key="accessToken" value="ftn0VLkab4OkjB5ekoO-sWjBLqhGbCXl-FSARaTbEyCYJoyXkeQiPNR63LBFD.83TfZAEvZKIT0wgTNd3PBNjbTB4KV23ZS4B0feOifhYixOzYMc2tt3lIOTaegIuCeu"/>
    
    <add key="Q_HowLikelyToRecommend" value="159091489"/>
    <add key="Q_RecommendComments" value="171846838"/>
    <add key="Q_PhoneAgentRating" value="1234240894"/>
    <add key="Q_RVTechRating" value="1234240895"/>
    <add key="Q_ServiceProviderRating" value="1234240896"/>
    <add key="Q_AdditionalComments" value="197764109"/>
    <add key="Q_PublishingApproval" value="197765795"/>
    
  </appSettings>
    
</configuration>