@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ClientManagement/Views/Shared/_ClientManagementLayout.cshtml";
}
<hgroup id="main-title" class="thin"> 
    <h1>Client Invoice Batches</h1> 
</hgroup>
<div class="with-padding">
    <div id="ClientPaymentRunsTab" class="standard-tabs same-height">
        <ul class="tabs clientDetails">
            <li id="tbClientPaymentRunsList" class="with-tooltip" title="Invoice Runs"><a href="@Url.Action("_Clients_Payment_Runs", "ClientInvoiceBatches", new { area = "ClientManagement" })"  id="clientPaymentRunsList">
                Invoice Batches</a> </li>
        </ul>
    </div>
</div>
<script type="text/javascript">

    var tabObject = null;
    $(function () {
        tabObject = $("#ClientPaymentRunsTab").tabs();
    });
</script>
