@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_ContentMaster-public.cshtml";
}
<div class="leader relative">
    &nbsp;</div>
<div class="constrain">
    <div class="with-padding">
    <p class="wrapped white-bg relative">
				<span class="ribbon"><span class="ribbon-inner red-gradient">Hello</span></span>
				Congratulations, you are on your way to becoming part of the Pinnacle Partner Network.<br /><br />
                Your application has been submitted for review and a Representative will be contacting
        you via email or phone soon. We look forward to working with you. After your application
        has been successfully processed you will receive further instructions on how to
        set up your Pinnacle Partner Portal account.
			</p>
    </div>
</div>
