@{
    var suffixVendorID = ViewData["VendorID"].ToString();
    
}
<div class="with-padding">
    <div class="columns">
        <div class="new-row twelve-columns">
            @Html.Editor("Vendor_" + suffixVendorID, "DocumentList", new { entityId = @ViewData["VendorID"], entityName = "Vendor", documentCategory = "Contract", sourceSystem = "VendorPortal" })
        </div>
    </div>
</div>
