@using Kendo.Mvc.UI;
@using Martex.DMS.DAL;
@model int
@{
    bool isView = false;
    string pageMode = ViewData["mode"].ToString();
    if (pageMode != null && pageMode.ToString().Equals("view"))
    {
        isView = true;
    }

    var suffixprogramID = Model.ToString();
    var functionHandler = "onclick=ManageProgramServiceEventLimit(null," + suffixprogramID + ")";
    var addTemplate = "<a style = 'min-width:auto;', title='Add Rule' , class='k-button k-button-icontext k-grid-add with-tooltip' href='javascript:void(0);' " + @functionHandler + "><span class='k-icon k-add'></span>Add Rule</a>";
}
<script type="text/javascript" language="javascript">

    function ProgramManagementProgramServiceEventLimitsSearchCriteria() {
        return { programID: '@suffixprogramID' };
    }

    function grdProgramManagementProgramServiceEventLimits_OnDataBound(e) {
        $(".k-grid-Edit").addClass("with-tooltip").html("<span class='k-icon k-edit'/>");
        $(".k-grid-Delete").addClass("with-tooltip").html("<span class='k-icon k-delete'/>");
        $(".k-grid-View").addClass("with-tooltip").html("<span class='k-icon k-i-search'/>");
        if ('@isView' == 'true' || '@isView' == 'True') {
            $("#GrdProgramManagementProgramServiceEventLimits_@suffixprogramID").find(".k-grid-add").addClass("hidden");
        }

        var grid = e.sender;
        e.sender.table.find('tr').each(function () {
            // var $programID = $(this).find('.programID');
            //var $programName = $(this).find('.programName');

            //          var editButton = $(this).find('.k-grid-Edit');
            //          var deleteButton = $(this).find('.k-grid-Delete');

            //             if ($programID.html() != @suffixprogramID) {
            //                 $programName.html($programName.html() + " (Parent)");
            //                 $(editButton).addClass("hide");
            //                 $(deleteButton).addClass("hide");
            //             }
        });

    }

    function ManageProgramServiceEventLimit(e, suffixProgramID, grid) {
        if (e != null) {
            e.preventDefault();

            var programID = grid.dataItem($(e.currentTarget).closest("tr")).ProgramID;
            //            if(programID != suffixProgramID){
            //                openAlertMessage("Access denied for Parent Program modifications");
            //                return false;
            //            }

            var recordID = grid.dataItem($(e.currentTarget).closest("tr")).ID;

            if (e.data.commandName == 'Edit') {
                GetManageProgramServiceEventLimits(recordID, 'edit', 'Rule: ' + recordID);
                //openAlertMessage("Edit in progress");
            }
            if (e.data.commandName == 'View') {
                //GetManageProgramServiceEventLimits(recordID, 'edit', 'Rule: ' + recordID);
                openAlertMessage("View in progress");
            }
            if (e.data.commandName == 'Delete') {
                DeleteProgramServiceEventLimit(recordID);
                //openAlertMessage("Delete in progress");
            }
        }
        else {
            //openAlertMessage("Add in Progress");
            GetManageProgramServiceEventLimits(null, 'add', 'New Program Data Item');
        }
        return false;
    }
    function DeleteProgramServiceEventLimit(recordID) {
        $.modal.confirm('Are you sure you want to delete this Data Item?', function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_DeleteServiceEventLimitInformation", "ProgramManagement", new { area = "Admin" })',
                traditional: true,
                cache: false,
                data: { serviceEventLimitID: recordID },
                async: false,
                success: function (msg) {
                    if (msg.Status == "Success") {
                        $('#GrdProgramManagementProgramServiceEventLimits_@suffixprogramID').data('kendoGrid').dataSource.read();
                        openAlertMessage('Record has been deleted successfully');
                    }
                    else if (msg.Status == "Error") {
                        openAlertMessage(result.Data);
                    }
                }
            });
        }, function () {

        });
    }
    function GetManageProgramServiceEventLimits(recordID, mode, title) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("_GetProgramManagementServiceEventLimitInformation", "ProgramManagement", new { area = "Admin" })',
            traditional: true,
            data: { pselID: recordID, mode: mode, programId: '@suffixprogramID' },
            cache: false,
            async: false,
            success: function (msg) {
                ProgramServiceEventLimitsWindow = $("<div id='ProgramServiceEventLimitsWindow' />").appendTo(document.body);
                ProgramServiceEventLimitsWindow.kendoWindow({
                    title: title,
                    modal: true,
                    width: 900,
                    height: 650,
                    deactivate: function () {
                        this.destroy();
                    },
                    close: function (e) {
                        $('#frmProgramServiceEventLimits').validationEngine('hideAll'); // to hide the validation message of the popup 

                        if (document.dialogResult == null || document.dialogResult == "CANCEL") {
                            document.dialogResult = null;
                            if (IsMyContainerDirty('frmProgramServiceEventLimits')) {
                                var prompt = PromptForDirtyFlag();
                                if (!prompt) {
                                    e.preventDefault();
                                    return false;
                                }
                                CleanMyContainer('frmProgramServiceEventLimits');
                            }
                        }
                        return true;
                    }
                });
                ProgramServiceEventLimitsWindow.data('kendoWindow').content(msg).center().open();
            }
        });
    }
</script>
<div class="with-padding">
    <div id="divProgramManagementProgramServiceEventLimitsTab_@suffixprogramID">
        @(Html.Kendo().Grid<ProgramManagementProgramServiceEventLimitList_Result>()
        .Name("GrdProgramManagementProgramServiceEventLimits_" + suffixprogramID)
        .Columns(column =>
        {
            //column.Bound(a => a.ProgramID).Hidden().HtmlAttributes(new { @class = "programID" });
            column.Bound(a => a.ID).Title("ID");
            column.Bound(a => a.Program).Title("Program Name").Width(200);//.HtmlAttributes(new { @class = "programName" });
            column.Bound(a => a.ProductCategory).Title("Product Category").Width(150);
            column.Bound(a => a.Product).Title("Product").Width(100);
            column.Bound(a => a.VehicleType).Title("Vehicle Type").Width(100);
            column.Bound(a => a.VehicleCategory).Title("Vehicle Category").Width(100);
            column.Bound(a => a.PSELDescription).Title("Description").Width(200);
            column.Bound(a => a.Limit).Title("Limit").Width(100);
            column.Bound(a => a.LimitDuration).Title("Limit Duration").Width(100);
            column.Bound(a => a.LimitDurationUOM).Title("Limit Duration UOM").Width(100);
            column.Bound(a => a.IsActive).Title("Active").ClientTemplate("<input type='checkbox' #= IsActive ? checked='checked' : '' # disabled='disabled' ></input>").Width(100);
            column.Bound(a => a.StoredProcedureName).Title("Stored Procedure").Width(100);
            if (!isView)
            {
                column.Command(command =>
                {
                    //command.Custom("View").Click(@<text>function(e){ ManageProgramServiceEventLimit(e,'@suffixprogramID',this)}</text>).HtmlAttributes(new { style = "min-width:auto;", title = "View" });
                    command.Custom("Edit").Click(@<text>function(e){ ManageProgramServiceEventLimit(e,'@suffixprogramID',this)}</text>).HtmlAttributes(new { style = "min-width:auto;", title = "Edit" });
                    command.Custom("Delete").Click(@<text>function(e){ ManageProgramServiceEventLimit(e,'@suffixprogramID',this)}</text>).HtmlAttributes(new { style = "min-width:auto;", title = "Delete" });

                }).Width(100)
                .Title("Action(s)");
            }
        })
        .ToolBar(toolBar => toolBar.Template(@addTemplate))
        .Events(e =>
        {
            e.DataBound("grdProgramManagementProgramServiceEventLimits_OnDataBound");
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable(filterable => filterable
            .Extra(false)
        )
        .Pageable(pager => pager
            .Refresh(true)
            .PageSizes(new int[] { 10, 20, 50, 100 })
        )
        .Selectable(select => select.Mode(GridSelectionMode.Single))
        .DataSource(datasource => datasource
            .Ajax()
            .Events(events => events.Error("KendoGridErrorHandler"))
            .Read(read => read.Action("_GetProgramManagementProgramServiceEventLimitList", "ProgramManagement", new { area = "Admin" }).Data("ProgramManagementProgramServiceEventLimitsSearchCriteria"))
            .PageSize(10)
        )
        .Resizable(resize => resize.Columns(true))
        .EnableCustomBinding(true)
        )
    </div>
</div>
<script type="text/javascript">
    var suffixprogramID = '@suffixprogramID';
    $(function () {
        HandleDblClickOnGrid($("#GrdProgramManagementProgramServiceEventLimits_@suffixprogramID"), '.k-grid-Edit');
        var gridContentHeight = GetWindowHeight() - (
                                        $("#menu-horizontal").height() +
                                        $(".k-toolbar").height() +
                                        $(".k-grid-header").height() +
                                        $(".k-grid-bottom").height() +
                                        $(".footer").height() +
                                        350
                                        );
        $("#GrdProgramManagementProgramServiceEventLimits_@suffixprogramID>.k-grid-content").css("height", gridContentHeight + "px");
    });    
</script>
