@using Kendo.Mvc.UI;
@using Martex.DMS.DAL;
@model int
@{
    bool isView = false;
    string pageMode = ViewData["mode"].ToString();
    if (pageMode != null && pageMode.ToString().Equals("view"))
    {
        isView = true;
    }

    var suffixprogramID = Model.ToString();
    var functionHandler = "onclick=ManageProgramDataItems(null," + suffixprogramID + ")";
    var addTemplate = "<a style = 'min-width:auto;', title='Add Data Item' , class='k-button k-button-icontext k-grid-add with-tooltip' href='javascript:void(0);' " + @functionHandler + "><span class='k-icon k-add'></span>Add Data Item</a>";
}
<script type="text/javascript" language="javascript">

    function ProgramManagementProgramDataItemsSearchCriteria() {
        return { programID: '@suffixprogramID' };
    }

    function grdProgramManagementProgramDataItems_OnDataBound(e) {
        $(".k-grid-Edit").addClass("with-tooltip").html("<span class='k-icon k-edit'/>");
        $(".k-grid-Delete").addClass("with-tooltip").html("<span class='k-icon k-delete'/>");
        if ('@isView' == 'true' || '@isView' == 'True') {
            $("#GrdProgramManagementProgramDataItems_@suffixprogramID").find(".k-grid-add").addClass("hidden");
        }

         var grid = e.sender;
         e.sender.table.find('tr').each(function () {
             var $programID = $(this).find('.programID');
             var $programName = $(this).find('.programName');
             
             var editButton = $(this).find('.k-grid-Edit');
             var deleteButton = $(this).find('.k-grid-Delete');
             
             if ($programID.html() != @suffixprogramID) {
                 $programName.html($programName.html() + " (Parent)");
                 $(editButton).addClass("hide");
                 $(deleteButton).addClass("hide");
             }
         });

    }

    function ManageProgramDataItems(e, suffixProgramID, grid) {
        if (e != null) {
            e.preventDefault();
            
            var programID = grid.dataItem($(e.currentTarget).closest("tr")).ProgramID;
            if(programID != suffixProgramID){
                openAlertMessage("Access denied for Parent Program modifications");
                return false;
            }

            var recordID = grid.dataItem($(e.currentTarget).closest("tr")).ProgramDataItemID;

            if (e.data.commandName == 'Edit') {
                GetManageProgramDataItems(recordID, 'edit', 'Program Data Item ID: ' + recordID);
                //openAlertMessage("Edit in progress");
            }
            if (e.data.commandName == 'Delete') {
                DeleteProgramDataItem(recordID);
                //openAlertMessage("Edit in progress");
            }
        }
        else {
            //openAlertMessage("Add in Progress");
            GetManageProgramDataItems(null, 'add', 'New Program Data Item');
        }
        return false;
    }
    function DeleteProgramDataItem(recordID) {
        $.modal.confirm('Are you sure you want to delete this Data Item?', function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_DeleteDataItemInformation", "ProgramManagement", new { area = "Admin" })',
                traditional: true,
                cache: false,
                data: { programDataItemID: recordID },
                async: false,
                success: function (msg) {
                    if (msg.Status == "Success") {
                        $('#GrdProgramManagementProgramDataItems_@suffixprogramID').data('kendoGrid').dataSource.read();
                        openAlertMessage('Record has been deleted successfully');
                    }
                    else if (msg.Status == "Error") {
                        openAlertMessage(result.Data);
                    }
                }
            });
        }, function () {

        });
    }
    function GetManageProgramDataItems(recordID, mode, title) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("_ProgramDataItemInformation", "ProgramManagement", new { area = "Admin" })',
            traditional: true,
            data: { programDataItemId: recordID, mode: mode, programId: '@suffixprogramID' },
            cache: false,
            async: false,
            success: function (msg) {
                programDataItemsWindow = $("<div id='programDataItemsWindow' />").appendTo(document.body);
                programDataItemsWindow.kendoWindow({
                    title: title,
                    modal: true,
                    width: 600,
                    height: 550,
                    deactivate: function () {
                        this.destroy();
                    },
                    close: function (e) {
                        $('#frmProgramDataItems').validationEngine('hideAll'); // to hide the validation message of the popup 

                        if (document.dialogResult == null || document.dialogResult == "CANCEL") {
                            document.dialogResult = null;
                            if (IsMyContainerDirty('frmProgramDataItems')) {
                                var prompt = PromptForDirtyFlag();
                                if (!prompt) {
                                    e.preventDefault();
                                    return false;
                                }
                                CleanMyContainer('frmProgramDataItems');
                            }
                        }
                        return true;
                    }
                });
                programDataItemsWindow.data('kendoWindow').content(msg).center().open();
            }
        });
    }
</script>
<div class="with-padding">
    <div id="divProgramManagementProgramDataItemsTab_@suffixprogramID">
        @(Html.Kendo().Grid<ProgramManagementProgramDataItemList_Result>()
        .Name("GrdProgramManagementProgramDataItems_" + suffixprogramID)
        .Columns(column =>
        {
            column.Bound(a => a.ProgramID).Hidden().HtmlAttributes(new { @class = "programID" });
            column.Bound(a => a.ProgramName).Title("Program Name").Width(200).HtmlAttributes(new { @class = "programName" });
            column.Bound(a => a.ScreenName).Title("Screen Name").Width(100);
            column.Bound(a => a.Name).Title("Name").Width(100);
            column.Bound(a => a.Label).Title("Label").Width(100);
            column.Bound(a => a.ControlType).Title("Control").Width(100);
            column.Bound(a => a.DataType).Title("Data Type").Width(100);
            column.Bound(a => a.Sequence).Title("Sequence").Width(100);
            column.Bound(a => a.IsRequired).Title("Is Required").ClientTemplate("<input type='checkbox' #= IsRequired ? checked='checked' : '' # disabled='disabled' ></input>").Width(100);
            column.Bound(a => a.IsActive).Title("Active").ClientTemplate("<input type='checkbox' #= IsActive ? checked='checked' : '' # disabled='disabled' ></input>").Width(100);
            if (!isView)
            {
                column.Command(command =>
                {
                    command.Custom("Edit").Click(@<text>function(e){ ManageProgramDataItems(e,'@suffixprogramID',this)}</text>).HtmlAttributes(new { style = "min-width:auto;", title = "Edit" });
                    command.Custom("Delete").Click(@<text>function(e){ ManageProgramDataItems(e,'@suffixprogramID',this)}</text>).HtmlAttributes(new { style = "min-width:auto;", title = "Delete" });

                }).Width(100)
                .Title("Action(s)");
            }
        })
        .ToolBar(toolBar => toolBar.Template(@addTemplate))
        .Events(e =>
        {
            e.DataBound("grdProgramManagementProgramDataItems_OnDataBound");
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable(filterable => filterable
            .Extra(false)
        )
        .Pageable(pager => pager
            .Refresh(true)
            .PageSizes(new int[] { 10, 20, 50, 100 })
        )
        .Selectable(select => select.Mode(GridSelectionMode.Single))
        .DataSource(datasource => datasource
            .Ajax()
            .Events(events => events.Error("KendoGridErrorHandler"))
            .Read(read => read.Action("_GetProgramManagementProgramDataItemsList", "ProgramManagement", new { area = "Admin" }).Data("ProgramManagementProgramDataItemsSearchCriteria"))
            .PageSize(10)
        )
        .Resizable(resize => resize.Columns(true))
        .EnableCustomBinding(true)
        )
    </div>
</div>
<script type="text/javascript">
    var suffixprogramID = '@suffixprogramID';
    $(function () {
        HandleDblClickOnGrid($("#GrdProgramManagementProgramDataItems_@suffixprogramID"), '.k-grid-Edit');
        var gridContentHeight = GetWindowHeight() - (
                                        $("#menu-horizontal").height() +
                                        $(".k-toolbar").height() +
                                        $(".k-grid-header").height() +
                                        $(".k-grid-bottom").height() +
                                        $(".footer").height() +
                                        350
                                        );
        $("#GrdProgramManagementProgramDataItems_@suffixprogramID>.k-grid-content").css("height", gridContentHeight + "px");
    });    
</script>
